$img-src: "~bootflat/bootflat/img/check_flat/default.png";
@import "variables.scss";
@import "~bootflat/bootflat/scss/bootflat.scss";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/nest.scss";

.btn-primary {
  background-color: $bluejeans-dark;
  border-color: $bluejeans-dark;
  &:hover {
    background-color: $bluejeans-light;
    border-color: $bluejeans-light;
  }
}

body {
  background: $darkgray-dark;
  color: $lightgray-light
}

.loader {
  display: block;
  width: 10%;
  margin: auto;
  margin-top: 25%;
}

.noty_theme__nest {
  &.noty_type__warning {
    background-color: $bittersweet-light;
  }

  &.noty_type__error {
    background-color: $grapefruit-dark;
  }
  &.noty_type__success {
    background-color: $mint-dark;
  }
}
